name: CI

on:
  push:
    branches: ["**"]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: temurin
      - uses: coursier/cache-action@v6
      - uses: sbt/setup-sbt@v1.1.5
      - name: Run tests
        run: |
          sh ./setuptest.sh
          sbt '+test'
